{% extends "notes_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block block_head %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "css/class_notes.css" %}">
{% endblock block_head %}
{% block title %}
    CBSE Class {{obj.note_class}} {{obj.subject}} Chapter {{obj.chapter_no}} {{obj.chapter_name}} Solution and Notes
{% endblock title %}
{% block block_navbar %}
    <ul class="nav-menu">
        <li class="menu-item-has-children"> <a href="{% url 'IndexView' %}" class="home">Home</a></li>
        <li class="menu-item-has-children"> <a href="#">About Us</a>
            <ul class="sub-menu">
                <li><a href="{% url 'AboutView' %}">About Us</a></li>
                <li><a href="{% url 'TeachersView' %}">Teachers</a></li>
                <li> <a href="{% url 'GalleryView' %}">Gallery</a> </li>
            </ul>
        </li>
        <li class="menu-item-has-children"> <a href="{% url 'CoursesView' %}">Courses</a></li>
        <li class="menu-item-has-children current-menu-item current_page_item"> <a href="{% url 'NotesView' %}">Notes</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'BlogView' %}">Blog</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'ContactView' %}">Contact</a></li>
    </ul>
{% endblock block_navbar %}
{% block block_pagename %}
    Notes
{% endblock block_pagename %}
{% block block_body %}
   <div id="rs-courses-3" class="rs-courses-3 sec-spacer">
        <div class="container">
            <div class="abt-title">
                <h2>DOWNLOAD - CBSE Class {{obj.note_class}} {{obj.subject}} Chapter {{obj.chapter_no}} {{obj.chapter_name}} Notes and Solution</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><center>CBSE Notes</center></th>
                    <th><center>CBSE Class {{obj.note_class}} {{obj.subject}}</center></th>
                    <th><center>NCERT Solution {{obj.subject}}</center></th>
                    <th><center>Class {{obj.note_class}} {{obj.subject}} Chapter {{obj.chapter_no}}</center></th>
                    <th><center>Notes</center></th>
                  </tr>
                </thead>
            </table>

            <p><b>CBSE Class {{obj.note_class}} {{obj.subject}} notes chapter {{obj.chapter_no}} {{obj.chapter_name}}</b> has been prepared by Eduwizard Tutorials and their tutors which is really straight forward and easy to understand. This <b>Class {{obj.note_class}} {{obj.subject}} Chapter {{obj.chapter_no}}</b> notes can be helpful for all the students. Students can also download <b>chapter {{obj.chapter_no}} {{obj.chapter_name}} class {{obj.note_class}} notes</b> for free so that they can use it offline also.
            <br><b>Class {{obj.note_class}} {{obj.subject}} notes</b> provides the fundamentals and base of upcoming classes to the student of <b>CBSE Class {{obj.note_class}}</b>, So it is much important to carefully read and understand these concepts so that they can perform better in upcoming classes also. <b>Class {{obj.note_class}} {{obj.subject}} Chapter {{obj.chapter_no}} Notes</b> provided by Eduwizard Tutorials is the key to clearly understand all these concepts easily. Here we have embeded <b>Class {{obj.note_class}} Chapter {{obj.chapter_no}} {{obj.subject}} Notes</b> so that you can read it online or you can download it for offline use.</p>
            <iframe src="/media/{{pdfurl}}" width=100% height="1000px;"></iframe>

            <div class="abt-title">
                </br>
                <h2>OTHER AVAILABLE CBSE Class {{obj.note_class}} {{obj.subject}} Notes and Solution</h2>
            </div>
            <ol class="gradient-list row">
                {% for i in notes_obj %}
                    <div class="col-sm-6">
                        <li class="ml-1"><a href="{% url 'NotesDownloadView' slug=i.slug %}">{{i.note_class}} | {{i.subject}} | {{i.chapter_name}}</a></li>
                    </div>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock block_body %}
