{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block block_head %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "css/class_notes.css" %}">
{% endblock block_head %}
{% block title %}
    {{block.super}}Class {{note_class}} {{note_subject}} Notes
{% endblock title %}
{% block block_navbar %}  
    <ul class="nav-menu">
        <li class="menu-item-has-children"> <a href="{% url 'IndexView' %}" class="home">Home</a></li>
        <li class="menu-item-has-children"> <a href="#">About Us</a>
            <ul class="sub-menu">
                <li><a href="{% url 'AboutView' %}">About Us</a></li>
                <li><a href="{% url 'TeachersView' %}">Teachers</a></li>
                <li> <a href="{% url 'GalleryView' %}">Gallery</a> </li> 
            </ul>
        </li>
        <li class="menu-item-has-children"> <a href="{% url 'CoursesView' %}">Courses</a></li>
        <li class="menu-item-has-children current-menu-item current_page_item"> <a href="{% url 'NotesView' %}">Notes</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'BlogView' %}">Blog</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'ContactView' %}">Contact</a></li>
    </ul>
{% endblock block_navbar %}
{% block block_pagename %}
    Notes
{% endblock block_pagename %}
{% block block_body %}
   <div id="rs-courses-3" class="rs-courses-3 sec-spacer">
        <div class="container">
            <div class="abt-title">
                <h2>AVAILABLE NOTES</h2>
            </div>
            <p>The <b>class {{note_class}} science</b> syllabus carries a lot of chapters that go on to become the precursor for many advanced science topics in higher classes. It is important to gain a thorough knowledge of the fundamentals in this class to avoid struggls in advanced classes. The <b>CBSE class {{note_class}} science notes</b> act as a revision guide which helps the students prepare for exams without stress or anxiety. The <b>class {{note_class}} science revision notes</b> focus on all the important points and topics which re-appear in most of the previous year question papers. This particularly helps the students identify the important parts and allows them to gain an advantage over the other students in the exams. The <b>class {{note_class}} science notes</b> free pdf download is readily available for anyone. This saves a lot of time for the students and alleviates the need for tuitions or special classes.</p>
            <p>Here's a list of all the available notes for <b>cbse class {{note_class}} science</b> subjects. All these science <b>class {{note_class}} notes</b> are 100 per cent free to view and download.</p>
            <main class="">
                <ol class="gradient-list row">
                    {% for i in notes %}
                        <div class="col-sm-6">
                            <li class="ml-1"><a href="{% url 'NotesDownloadView' pdfurl=i.notes_document|cut:".pdf" %}">{{i.note_class}} | {{i.subject}} | {{i.chapter_no}}. {{i.chapter_name}}</a></li>
                        </div>
                    {% endfor %}
                </ol>
            </main>
            <div class="contact-comment-section">
                <h3>Didn't found what you are looking for?</h3>
                <p>Just fill this simple form and We will reach you to help you as soon as possible.</p>
                <div id="form-messages"></div>
                <form id="contact-form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}
                    <fieldset>
                        <div class="row">                                      
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.name.label_tag }}
                                    {% render_field form.name class="form-control" %}
                                    {{ form.name.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.subject_or_class.label_tag }}
                                    {% render_field form.subject_or_class class="form-control" %}
                                    {{ form.subject_or_class.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.message.label_tag }}
                                    {% render_field form.message class="form-control" %}
                                    {{ form.message.errors }}
                                </div>
                            </div>
                        </div>                                 
                        <div class="form-group mb-0">
                            <input class="btn-send" type="submit" value="Submit">
                        </div>   
                    </fieldset>
                </form>                     
            </div>
        </div>
    </div>
{% endblock block_body %}
