{% extends "base.html" %}
{% load staticfiles %}
{% block block_navbar %}
    <ul class="nav-menu">
        <li class="menu-item-has-children"> <a href="{% url 'IndexView' %}" class="home">Home</a></li>
        <li class="menu-item-has-children"> <a href="#">About Us</a>
            <ul class="sub-menu">
                <li><a href="{% url 'AboutView' %}">About Us</a></li>
                <li><a href="{% url 'TeachersView' %}">Teachers</a></li>
                <li> <a href="{% url 'GalleryView' %}">Gallery</a> </li>
            </ul>
        </li>
        <li class="menu-item-has-children"> <a href="{% url 'CoursesView' %}">Courses</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'NotesView' %}">Notes</a></li>
        <li class="menu-item-has-children current-menu-item current_page_item"> <a href="{% url 'BlogView' %}">Blog</a></li>
        <li class="menu-item-has-children"> <a href="{% url 'ContactView' %}">Contact</a></li>
    </ul>
{% endblock block_navbar %}
{% block block_pagename %}
    Blog Post
{% endblock block_pagename %}
{% block block_body %}
    <div class="single-blog-details sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <center><h1>{{blog.title}}</h1></center>
                    <div class="single-image">
                        <center><img src="{% static 'images/blogpage/'|add:blog.front_image %}" alt="single"></center>
                    </div>
                    {{blog.content|safe}}
                    <div class="share-section">
                        <div class="row">
                            <div class="col-lg-5 life-style">
                                <span class="author">
                                    <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> {{blog.author}} </a>
                                </span>
                                <!--<span class="comment">
                                    <a href="#">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i> 12
                                    </a>
                                </span>-->
                                <span class="date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> {{blog.date}}
                                </span>
                                <!--<span class="cat">
                                    <a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i> Life Style </a>
                                </span>-->
                            </div>
                            <div class="col-lg-7">
                                <ul class="share-link1">
                                    <li><a href="#"> Tags:</a></li>
                                    {% for i in tags %}
                                        <li><a href="#"> {{i}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="share-section2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <span> You Can Share It : </span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <ul class="share-link">
                                    <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i> Google</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="next-pre-section">
                                {% if first_obj %}
                                    <li class="left-arrow"><a href="{% url 'BlogDetailView' slug=pre_obj.slug %}"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Post</a></li>
                                {% else %}
                                    <li class="left-arrow"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous Post</a></li>
                                {% endif %}
                                {% if last_obj %}
                                    <li class="right-arrow"><a href="{% url 'BlogDetailView' slug=next_obj.slug %}">Next Post <i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                                {% else %}
                                    <li class="right-arrow"><a href="#">Next Post <i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="like-section mt-30">
                        <h3 class="title-bg">YOU MIGHT ALSO LIKE</h3>
                        <div class="row">
                            {% for i in sugested %}
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="popular-post-img">
                                        <a href="#"><img src="{% static 'images/blogpage/'|add:i.front_image %}" alt="Blog single photo"></a>
                                    </div>
                                    <h5>
                                        <a href="#">{{i.title}}</a>
                                    </h5>
                                    <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{i.date}}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-area">
                        <div class="cate-box">
                            <h3 class="title">Categories</h3>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Analysis & Features <span>(05)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Video Reviews <span>(07)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Engineering Tech <span>(09)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"> Righteous Indignation <span>(08)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">General Education <span>(04)</span></a>
                                </li>
                            </ul>
                        </div><!-- .cate-box end -->
                        <div class="tags-cloud clearfix">
                            <h3 class="title">Product Tags</h3>
                            <ul>
                                <li>
                                    <a href="#">SCIENCE</a>
                                </li>
                                <li>
                                    <a href="#">HUMANITIES</a>
                                </li>
                                <li>
                                    <a href="#">DIPLOMA</a>
                                </li>
                                <li>
                                    <a href="#">BUSINESS</a>
                                </li>
                                <li>
                                    <a href="#">SPROTS</a>
                                </li>
                                <li>
                                    <a href="#">RESEARCH</a>
                                </li>
                                <li>
                                    <a href="#">ARTS</a>
                                </li>
                                <li>
                                    <a href="#">ADMISSIONS</a>
                                </li>
                            </ul>
                        </div><!-- .tags-cloud end -->
                        <div class="newsletter">
                            <h4>Newsletter</h4>
                            <p>Sign up for our Newsletter !</p>
                            <div class="box-newsletter">
                                <input class="form-control" placeholder="support@rstheme.com" name="newsletter-term" id="newsletter-term" type="text">
                                <button class="btn btn-default" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div><!-- .newsletter end -->
                    </div><!-- .sidebar-area end -->
                </div>
            </div>
        </div>
    </div>
    <footer id="rs-footer" class="bg3 rs-footer">
        <div class="container">
            <div>
                <div class="row footer-contact-desc">
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-map-marker"></i>
                            <h4 class="contact-title">Address</h4>
                            <p class="contact-desc">
                                Shiv Puri, Near JR Public School<br>
                                Sagarpur, New Delhi-110046
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-phone"></i>
                            <h4 class="contact-title">Phone Number</h4>
                            <p class="contact-desc">
                                +919716579792<br>
                                +917042429118
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-map-marker"></i>
                            <h4 class="contact-title">Email Address</h4>
                            <p class="contact-desc">
                                support@rstheme.com<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock block_body %}
